#special directories
*.DS_Store
*.gradle

#IntelliJ files
*.idea
*.iml
*.ipr 
*.iws

#Java Build files
*.jar
*build/
*.class

#Eclipe project files
*.claspath
*.project
*.settings/
*sysProps.xml
*build.xml
*build.properties
